body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #333;
}
.title {
    font-size: 2.5em;
    margin-top: 20px;
    color: #4e145f;
}
.green {
    color: green;
    font-weight: bold;
}
.red {
    color: red;
    font-weight: bold;
}
.gray {
    color: gray;
    font-weight: bold;
}
.secondary {
    color: #ffffff;
    background-color: #4e145f;
    border: 2px solid #30063d;
}
.secondary:hover {
    background-color: #ffffff;
    color: #4e145f;
    box-shadow: 0 0 5px rgba(78, 20, 95, 0.4);
    transform: scale(1.05);
    transition: all 0.2s ease;
}
button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #30063d;
    color: #ffffff;
}
#choices, #result, #score {
    margin-top: 20px;
}
#result {
    font-weight: bold;
    font-size: 20px;
}
#score p {
    margin: 0;
}